@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  #NavbarCollapse{
    z-index: 10;
    position: fixed;
    top:0;
    margin-left: 40px;
    
  }
}
